<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Aire.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>824D68C3582E0C5A8CBA3F2F53EA4EBF0BDC458D</string>
				<key>dateExpires</key>
				<string>8/28/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>824D68C3582E0C5A8CBA3F2F53EA4EBF0BDC458D</string>
						<key>dateExpires</key>
						<string>8/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J275U6CANY</string>
						<key>name</key>
						<string>Okie Dokie Technologies Limited Liability Company</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>824D68C3582E0C5A8CBA3F2F53EA4EBF0BDC458D</string>
						<key>dateExpires</key>
						<string>8/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RevealingSplashView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J275U6CANY</string>
						<key>name</key>
						<string>Okie Dokie Technologies Limited Liability Company</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>824D68C3582E0C5A8CBA3F2F53EA4EBF0BDC458D</string>
						<key>dateExpires</key>
						<string>8/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J275U6CANY</string>
						<key>name</key>
						<string>Okie Dokie Technologies Limited Liability Company</string>
					</dict>
					<key>versionNumber</key>
					<string>6.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>824D68C3582E0C5A8CBA3F2F53EA4EBF0BDC458D</string>
						<key>dateExpires</key>
						<string>8/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J275U6CANY</string>
						<key>name</key>
						<string>Okie Dokie Technologies Limited Liability Company</string>
					</dict>
					<key>versionNumber</key>
					<string>6.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>824D68C3582E0C5A8CBA3F2F53EA4EBF0BDC458D</string>
						<key>dateExpires</key>
						<string>8/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J275U6CANY</string>
						<key>name</key>
						<string>Okie Dokie Technologies Limited Liability Company</string>
					</dict>
					<key>versionNumber</key>
					<string>6.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>824D68C3582E0C5A8CBA3F2F53EA4EBF0BDC458D</string>
						<key>dateExpires</key>
						<string>8/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyMarkdown.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J275U6CANY</string>
						<key>name</key>
						<string>Okie Dokie Technologies Limited Liability Company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>824D68C3582E0C5A8CBA3F2F53EA4EBF0BDC458D</string>
						<key>dateExpires</key>
						<string>8/28/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UICircularProgressRing.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J275U6CANY</string>
						<key>name</key>
						<string>Okie Dokie Technologies Limited Liability Company</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J275U6CANY.com.quimeraverde.aire</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>J275U6CANY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Aire.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>06d1b7cc-bafe-4b30-809c-2990ae899d85</string>
				<key>dateExpires</key>
				<string>8/28/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.quimeraverde.aire</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J275U6CANY</string>
				<key>name</key>
				<string>Okie Dokie Technologies Limited Liability Company</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0</string>
		</dict>
	</array>
</dict>
</plist>
